html{
    background: rgb(245, 158, 173);
}

.scale3{
    background: url(images/2.png ) no-repeat center center;
    height:10px;
    width: 2000px;
    
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.content{
    width: 1140px;
    height:800px;
    overflow: hidden;
    position: relative;
    padding:0; 
}
.img-hover{
    width: 1140px;
    height:800px;
    background: red ;
    position: absolute;
    top: 0;
    opacity: 0;
    transition-duration: 1s;
    display: flex;
    justify-content: space-around;
}
.img-hover:hover{
    opacity: 0.5;
    transition-duration: 1s;   
}